streamlit
spacy
presidio-analyzer
presidio-anonymizer
pandas
st-copy-to-clipboard
PyMuPDF
python-docx
anthropic  # Para a versão com Claude
openai     # Para a versão com OpenAI
python-dotenv
httpx      # Adicionado para a solução de proxy da OpenAI
google-generativeai
openai
